html,
body,
#root,
.app {
  height: 100%;
}

body {
  background-color: #1a1a1d !important;
}

.app {
  display: flex;
  flex-direction: column;
}

.app-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-link {
  height: max-content;
  margin-left: 30px;
  font-size: 1.2rem;
  cursor: pointer;
}

.navbar-link-active {
  color: #14a854;
}

h1 {
  color: #14a854;
}

div {
  color: white;
}

.onboard-startups {
  text-align: center;
}

.profile-container {
  margin-bottom: 20px;
}

.data-loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-header {
  text-align: center;
  margin: 5px;
}

.profile-name {
  font-size: 1.3rem;
  text-align: center;
  color: white;
  text-decoration: none;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.muted {
  color: grey;
}

.startup-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.profile-highlights {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  padding-left: 10px;
}

.profile-highlight-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-right: 20px;
}

.profile-highlight-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.raise-button {
  margin-top: 10px;
  max-height: fit-content;
  font-size: 0.9rem;
  max-width: fit-content;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.extra-info-toggle {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.profile-extra-info {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-oneliner {
  text-align: center;
  margin: 2%;
}

.raise-breakdown {
  position: absolute;
  background-color: #14a854;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.6),
    4px 6px 20px 4px rgba(0, 0, 0, 0.4);

  border-radius: 25px 2px 25px 25px;
  padding: 10%;
  font-size: 0.8rem;
  right: 75%;
  top: 100%;
}

.product-highlights-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  overflow-x: auto;
}

.product-highlight {
  border-style: solid;
  border-width: 2px;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 7px;
  min-width: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.members-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.member-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-image {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-footer {
  display: flex;
  margin-top: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.modal-content {
  background-color: #1a1a1d !important;
}

.meeting-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.close-button {
  margin-right: auto !important;
}

.incoming-startups {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  height: 100%;
}

.startups-sidebar {
  display: flex;
  flex-direction: column;
  min-width: 20%;
  max-height: 100%;
  overflow-y: auto;
}

.sidebar-header {
  font-size: 1.3rem;
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  background-color: #1a1a1d;
}

.sidebar-item {
  font-size: 1.2rem;
  padding: 20px;
  cursor: pointer;
  border-style: solid;
  border-radius: 10px;
  background-color: #1a1a1d;
}

.incoming-startup-profile {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 20px;
  overflow-y: auto;
}

.incoming-background {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  filter: blur(25px);
  height: 100%;
  width: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.incoming-content {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  align-items: center;
  justify-content: space-around;
}

.meeting-button {
  margin-top: 20px;
  width: fit-content;
}

.incoming-footer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
}

input {
  margin-bottom: 10px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
